{{>header}}

<center><h1>Ingresar al Chat</h1></center>

<center><form id="formulario" action="/chat" method="get">
	<input type="text" name="nombre" id="nombre" placeholder="Nombre de usuario">
	<button >Enviar</button>
</form></center>

<div id="chat">
</div>

{{>footer}}
